* {
  margin: 0;
  padding: 0;
  background-color: black;
}

body {
  width: 80vmin;
  height: 80vmin;
  display: flex;
  flex-direction: column;
  margin: auto;
  color: white;
}

#game {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  margin-top: 10%;
}
.board {
  width: 100%;
  height: 100%;
  background-color: rgb(21, 21, 39);
  display: grid;
  grid-template: repeat(25, 1fr) / repeat(25, 1fr);
}

h1 {
  text-align: center;
  margin-top: 2vmin;
  margin-bottom: 2vmin;
}
.game-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border: .25px dashed yellow;
}

.food {
  background-color: red;
}

.head {
  background-color: rgb(0, 117, 6);
}

button {
  color: white;
  background-color: rgb(68, 65, 65);
  width: 100%;
}